.app__specialMenu{
  flex-direction: column;
  background-color: var(--color-black);
}
.app__specialMenu-title{
  text-align: center;
  margin: 2.5rem;
}

.app__specialMenu-menu{
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  padding: 0 4rem;


}
.app__specialMenu-menu-title{
  color: var(--color-golden);
  text-align: center;
  margin-bottom: 2rem;
}
.app__specialMenu-menu-wine, .app__specialMenu-menu-cocktails{
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  width: 100%;
}

.app__specialMenu-menu_img{
  width: 310px;

}

.app__specialMenu-menu_img img{
  width: 100%;
  height: auto;
} 
.app__specialMenu-menu-items{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}